:root {
    --color-principal: #428FBA;
    --color-secundario: #86c7ff;
    --color-hover: #2C5F7C;
    --color-footer: #000;
    --color-fondoGris: #f5f5f5;
}
html {
    box-sizing: border-box;     /* significa que el ancho y la altura de un elemento incluyen el relleno y el borde, pero no el margen exterior. Esto es útil para mantener un mejor control del diseño y evitar problemas de desbordamiento.*/
    font-size: 62.5%;           /* 1 rem = 10px - establece el tamaño de fuente base para el documento */
}
*, *:before, *:after {
    box-sizing: inherit;        /*  hace que todos los elementos (incluyendo los pseudo-elementos) hereden el valor del modelo de caja establecido en la etiqueta html */
}
body {
    font-size: 1.8rem;
    /* line-height: 1.6; */
    font-family: 'Comfortaa',"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5fae\8f6f\96c5\9ed1",Arial,sans-serif;
    background-color: #ffffff;
}

/*-----------------*/
/*-----  Nav  -----*/
/*-----------------*/
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.container-nav {
    background-color: #ffffff;
    padding-left: 5rem;
    padding-right: 5rem;
}
.bg-light {
    background-color: #ffffff !important;
}
.contact {
    padding-top: 1rem;
}
.fa-lg {
    font-size: 3rem;
    color: #409eff;
}


@media (max-width: 990px) {
    .navbar-toggler {
        margin-right: 15px;
    }

    .navbar-collapse.show {
        right: 0;
    }

    .custom-collapse {
        padding: 5rem 0px 0px 5rem ;
        position: fixed;
        top: 7.5rem;
        right: -100%; /* Inicialmente oculto a la izquierda */
        width: 100%;
        height: 100%;
        background-color: #fff; /* Fondo del menú */
        z-index: 1000; /* Z-index mayor para asegurar que esté sobre otros elementos */
        transition: right 0.5s ease; /* Transición suave de izquierda */
    }
    
    /* Estilos para mostrar el menú */
    .custom-collapse.show {
        right: 0; /* Mostrar el menú lateral */
    }

    .navbar-nav a {
        text-decoration: none;
        color: black;
        font-size: 1.8rem;
    }

    .navbar-nav h2 {
        font-weight: 800;
    }

    .navbar-nav i {
        font-size: 2rem;
    }

    .show-desktop {
        display: none!important;
    }

    .show-desktop a .col-md-6{ 
        margin-bottom: 0rem !important;
    }
} 

@media (max-width: 370px) {
    .container-nav {
        flex-wrap: nowrap !important;
    }
    .navbar-toggler {
        margin-left: 1rem !important;
    }
}

@media (min-width: 990px) {
    .show-mobile {
        display: none!important;
    }
    .nav-link-right {
        padding-left: 1.5rem;
    }
}



/*-----------------*/
/*-----  Body -----*/
/*-----------------*/
.mt-4{             /* container */
    margin-top: 15rem !important;
}
h2 {
    font-weight: 600;
    padding-top: 2rem;
    color: #409eff;
}
h1 span {
    color: #409eff;
}
.h1-titulo {
    padding-top: 2rem !important;
    padding-left: 2rem;
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .h1-titulo {
        padding-top: 20px !important;
        font-size: 3.5rem;
        margin-bottom: 4rem;
    }
}
.p-titulo {
    font-size: 2rem;
    line-height: 2.5rem;
    padding-left: 2rem;
    margin: 2rem 0 4rem 0;
}
@media (min-width: 768px) {
    .p-titulo {
        margin: 0;
    }
}
iframe {
  border-radius: 2rem;
  overflow: hidden;    /* Esto es importante para que el borde redondeado funcione */
}
.row {
    margin: 2rem;
}

.video {
    margin: 0;
}

/*-----------------------------*/
/*-----  3 primeras Cards -----*/
/*-----------------------------*/
.section-cards {
    margin: 5rem 0;
}
@media (min-width: 768px) {
    .section-cards {
        margin: 8rem;
    }
}
.card-title{
    font-size: 1.8rem;
    text-align: center !important;
    padding: 0 !important;
}

@media (max-width: 767px) {
    .full-width {
        width: 100%;
    }
}

/*-----------------*/
/*----- Gray1 -----*/
/*-----------------*/
.gray-block {
    background-color: #f5f5f5;
    padding: 2rem 0 0.8rem 0;
    margin-bottom: 4rem;
    border-radius: 1.5rem;
}
.logo-image {
    padding: 0;
    border: 0;
    background-color: #f5f5f5
}
.no-border {
    border: 0;
}
#tv-img {
    padding-top: 1rem;
}
.meta-trader {
    padding-top: 0.8rem;
}
.binance {
    padding-top: 1rem;
}
.ninja {
    padding-top: 1.4rem;
}

/*-----------------*/
/*---- Services ---*/
/*-----------------*/



.services-section {
    margin-top: 13rem;
    /* margin-bottom: 8rem; */
}

/*------------------------*/
/*---- Services titulo ---*/
/*------------------------*/
.h1-services {
    padding: 0 2rem;
}
@media (min-width: 768px) {
    .h1-services {
        margin-bottom: 4rem !important;
    }
}

/*-----------------------*/
/*---- Services cards ---*/
/*-----------------------*/
@media (min-width: 768px) {
    .row-services {         /* contiene las 4 tarjetas */
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

.service-card {          /* contiene 1 tarjeta */
    height: 100%;
}

.service-card p {
    text-align: left !important;
}

.card-body {
    padding: 2rem;
}
.card-body .icon {
    margin-right: 1.5rem;
}

.card-body-right {       /* Abarca texto y boton */
    text-align: right;   /* Abarca boton */
    padding: 0 2rem 2rem 2rem
}
.card-text p {
    text-align: left !important;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .card-text p {
        padding-left: 4.5rem;
        text-align: left !important
    }
}
.btn-custom {
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid #409eff;
    border-radius: 5rem;
    background-color: white;
    color: #409eff;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 1rem;
}
.btn-custom:hover {
    background-color: #409eff;
    color: white;
}

/* .img-equal-height { */
    /* max-height: 270px; Establece la altura máxima deseada */
    /* width: 100%; Asegura que la imagen ocupe todo el ancho disponible */
    /* object-fit: cover; */
/* }  */

/*-----------------*/
/*---- Slider  ----*/
/*-----------------*/
.container-slider {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Para una relación de aspecto 16:9 */
    overflow: hidden;
    margin-bottom: 8rem;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
}
.image, .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image {
    display: block;
}
.slider {
    width: 50%;
    background: url(../static/trading-after.png) 0 0 / cover no-repeat;
    background-size: cover;
    cursor: ew-resize;
}
.slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 0.2rem;
    height: 100%;
    background: white;
    transform: translateX(-50%);
}
.slider::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1rem;
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
    border: 2px solid #333;
    transform: translateY(-50%);
}

/*-----------------*/
/*---- Signals ----*/
/*-----------------*/
.gray-block-signals {
    background-color: #f5f5f5;
    padding: 0.5rem;
    border-radius: 1.5rem;
}
.gray-h3 {
    font-weight: 500;
    margin-bottom: 2rem;
    padding-top: 2rem;
}
.the-signals {
    padding: 0 !important;
}
.center-cropped-image-signals {
    object-fit: cover;
    width: 30rem;
    height: 8rem;
}

@media (min-width: 768px) {
    .center-cropped-image-signals {
        width: 35rem;
    }
}
.sig-btn{
    background-color: #409eff;
    font-size: 1.8rem;
    border: none;
    width: 100%;
    padding: 1rem;
}
h3 span{
    color: #409eff
}

/*-----------------*/
/*-- Herramientas--*/
/*-----------------*/
.estrategias-tv {
    margin-top: 10rem;
}

.herramientas-h1, .herramientas-p, .herramientas-h3 {
    text-align: center;
    margin-bottom: 4rem;
}
p span {
    color: #409eff;
}
.center-container {
    text-align: center;
}
.btn-custom.btn-custom-tv a{
    text-decoration: none !important;
    color: inherit;
    cursor: pointer;
}
.tools-a {                /* Nombres de las herramientas */
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
}
.caption-right a {        /* Pruebalo gratis */
    text-decoration: none;
    font-size: 1.6rem;
}
.thumbnail {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}
.image-caption {
    display: flex;
    padding: 1rem;
    font-weight: 600;
}
.herramientas-h3 {
    padding: 0 2rem;
    margin: 2rem;
}
@media (min-width: 768px) {
    .herramientas-h3{
        margin: 2.5rem 0;
        padding: 0 20rem;
    }
}
.col-md-6 {               /* Separacion entre tarjetas */
    margin-bottom: 2rem;
}

/*-----------------*/
/*----- Stats ------*/
/*-----------------*/
.white-gray-block{
    background-color: #f5f5f5;
    padding: 2rem 0;
    margin: 4rem 0;
    border-radius: 30px;
}
@media (min-width: 768px) {
    .white-gray-block{
        margin: 8rem 0;
    }
}
.col-md-3 {
    padding: 0;
}
.stats-card {
    background: none;
    border: none;
}
.stats-body {
    background: none;
    border-radius: 10px;
    padding: 3rem;
}
.card-text {
    text-align: center;
    padding: 0;
}
.stats-i {
    color: #409eff;
}

/*-----------------*/
/*---Testimonios---*/
/*-----------------*/
.testimonios-h1 {
    padding-top: 4rem;
    margin-bottom: 3rem;
}
@media (min-width: 768px) {
    .testimonios-h1 {
        margin-bottom: 10rem;
    }
}
.test-card {
    margin-bottom: 3rem;
    padding: 3rem;
    border-radius: 3rem;
    background-color: #f5f5f5;
}
@media (min-width: 768px) {
    .test-card {
        margin-bottom: 3rem;
        padding: 5rem;
        border-radius: 3rem;
    }
}

.testimonial-container {
    text-align: center;
}
.center-card {
    background-color: #e0f3ff;
    border-color: #86c7ff;
    flex-grow: 1;
}
@media (min-width: 768px) {
    .center-card {
        margin-top: -5rem; 
        margin-bottom: 10rem;
    }
}
.quote-icon {
    font-size: 5rem;
    color: #cfcfcf;
    margin-bottom: 1rem;
}
.author-info {
    bottom: 2rem;
    width: 100%;
    text-align: center;
}
.author-info p {
    font-size: 1.6rem;
    margin-bottom: 0;
}
.author-info p span {
    text-align: center;
    font-size: 1.6rem;
    color: #409eff
}

/*-----------------*/
/*----- FAQS ------*/
/*-----------------*/
.faq-question .answer {
    padding: 1rem;
    border-radius: 0.5rem;
}
.accordion-item {
    border: none;
    border-bottom: none !important;
    padding: .5rem;
}
.accordion-button {
    color: #000;
    font-size: 1.6rem;
    text-align: left;
    background-color: #fff !important;
    border-bottom: none !important;
}
.accordion-body {
    padding: 1rem;
    border-radius: .5rem;
}
.container .mt-5{
    margin-bottom: 5rem;
}
.accordion-button.collapsed {
    color: #000;
    background: #fff;
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

/*-----------------*/
/*---- Footer -----*/
/*-----------------*/
footer {
    margin-top: 5rem;
}
.footer {
    background-color: #000;
}
.copyright {
    margin-right: 1rem;
    padding-bottom: 2rem;
    font-size: 1.4rem;
}
.mb-4 .redes {
    margin-left: 1rem;
}
.footer-copy-redes {
    margin: 0;
}
footer h5 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}
footer a {
    text-decoration: none;
    color: #c6c6c6;
    font-size: 1.4rem;
}
footer a:hover {
    color: #409eff !important;
}
.mb-4-f p {
    padding: 0 2rem;
    margin-right: 0;
    font-size: 1.5rem;
}
@media (min-width: 768px) {
    .mb-4-f p {
        padding: 0;
    }
}

@media (min-width: 768px) {
    footer p {
        font-size: small;
        margin-right: 35rem;
        margin-left: 3rem;
        margin-bottom: 0;
    }
}
.text-gray {
    color: #c6c6c6;
}